/* Estilos para el contenedor principal */
.container {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#start-camera{
  margin-top: 10px;
}

/* Estilos para el botón de tomar foto */
#start-camera {
  background-color: #1c613b;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#start-camera:hover {
  background-color: #113f26;
}

/* Estilos para la ventana modal */
#camera-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#camera-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para la imagen de vista previa */
#photo-preview {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Estilos para los botones en la ventana modal */
#buttons-container {
  text-align: center;
}

#accept-photo,
#cancel-photo {
  background-color: #1c613b;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#accept-photo:hover,
#cancel-photo:hover {
  background-color: #279c5c;
}

/* Estilos para el fondo del modal */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Estilos para el contenido del modal */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Estilos para la imagen en el modal */
.modal-image {
  max-width: 100%;
  max-height: 200px;
}

/* Estilos para el texto en el modal */
.modal-text {
  font-size: 16px;
  margin: 20px 0;
}

/* Estilos para el botón de cierre */
.modal-close-button {
  background: #1c613b;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

